# Preparacion de los datos del fichero *vuelos.csv*

In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_columns', 100)

In [3]:
#flights = pd.read_csv('./data/flight/flights.csv', low_memory=False)
#flights.head()

In [4]:
import random

n = 5819080 # Numero de filas del fichero
s = 10000 # Numero de filas del sample
filename = '../data/flight/flights.csv'
skip = sorted(random.sample(range(1, n-1),n-s))
flights_sample = pd.read_csv(filename, skiprows=skip)
flights_sample.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,EV,4213,N17560,MHT,ORD,600,555.0,-5.0,16.0,611.0,173,174.0,153.0,843,744.0,5.0,753,749.0,-4.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,338,N3DJAA,LAX,SFO,650,644.0,-6.0,21.0,705.0,80,79.0,55.0,337,800.0,3.0,810,803.0,-7.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,AA,97,N3ENAA,DCA,DFW,845,842.0,-3.0,14.0,856.0,215,210.0,185.0,1192,1101.0,11.0,1120,1112.0,-8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,1132,N437AA,DFW,PHX,950,NaN,NaN,NaN,NaN,160,NaN,NaN,868,NaN,NaN,1130,NaN,NaN,0,1,B,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,WN,808,N201LV,TPA,ATL,1030,1028.0,-2.0,14.0,1042.0,85,87.0,68.0,406,1150.0,5.0,1155,1155.0,0.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
airports = pd.read_csv('../data/flight/airports.csv', low_memory=False)
airports.head()

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447

In [6]:
airlines = pd.read_csv('../data/flight/airlines.csv', low_memory=False)
airlines.head()

  IATA_CODE                 AIRLINE
0        UA   United Air Lines Inc.
1        AA  American Airlines Inc.
2        US         US Airways Inc.
3        F9  Frontier Airlines Inc.
4        B6         JetBlue Airways

In [7]:
# flights_sample = flights.sample(n = 10_000)
flights_sample.drop(['CANCELLATION_REASON', 'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY', 'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY'], axis=1, inplace=True)
flights_sample.shape

(9999, 25)

In [8]:
flights_airports_origin = flights_sample.merge(airports, how='inner', left_on='ORIGIN_AIRPORT', right_on='IATA_CODE')
flights_airports_origin.rename({'AIRPORT':'ORIGIN_AIRPORT_NAME', 'CITY':'ORIGIN_CITY', 'STATE':'ORIGIN_STATE',
                        'COUNTRY': 'ORIGIN_COUNTRY', 'LATITUDE':'ORIGIN_LATITUDE', 'LONGITUDE':'ORIGIN_LONGITUDE'}, axis=1, inplace=True)
flights_airports_origin.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,IATA_CODE,ORIGIN_AIRPORT_NAME,ORIGIN_CITY,ORIGIN_STATE,ORIGIN_COUNTRY,ORIGIN_LATITUDE,ORIGIN_LONGITUDE
0,2015,1,1,4,EV,4213,N17560,MHT,ORD,600,555.0,-5.0,16.0,611.0,173,174.0,153.0,843,744.0,5.0,753,749.0,-4.0,0,0,MHT,Manchester-Boston Regional Airport,Manchester,NH,USA,42.93452,-71.43706
1,2015,2,15,7,WN,1932,NaN,MHT,BWI,800,NaN,NaN,NaN,NaN,95,NaN,NaN,377,NaN,NaN,935,NaN,NaN,0,1,MHT,Manchester-Boston Regional Airport,Manchester,NH,USA,42.93452,-71.43706
2,2015,3,14,6,WN,958,N454WN,MHT,TPA,1250,1254.0,4.0,22.0,1316.0,205,206.0,179.0,1204,1615.0,5.0,1615,1620.0,5.0,0,0,MHT,Manchester-Boston Regional Airport,Manchester,NH,USA,42.93452,-71.43706
3,2015,3,15,7,EV,3834,N12900,MHT,ORD,1615,1620.0,5.0,32.0,1652.0,175,176.0,135.0,843,1807.0,9.0,1810,1816.0,6.0,0,0,MHT,Manchester-Boston Regional Airport,Manchester,NH,USA,42.93452,-71.43706
4,2015,6,26,5,EV,6109,N13988,MHT,ORD,643,631.0,-12.0,10.0,641.0,162,161.0,139.0,843,800.0,12.0,825,812.0,-13.0,0,0,MHT,Manchester-Boston Regional Airport,Manchester,NH,USA,42.93452,-71.43706

In [9]:
flights_airports = flights_airports_origin.merge(airports, how='inner', left_on='DESTINATION_AIRPORT', right_on='IATA_CODE')
flights_airports.rename({'AIRPORT':'DESTINATION_AIRPORT_NAME', 'CITY':'DESTINATION_CITY', 'STATE':'DESTINATION_STATE',
                        'COUNTRY': 'DESTINATION_COUNTRY', 'LATITUDE':'DESTINATION_LATITUDE', 'LONGITUDE':'DESTINATION_LONGITUDE'}, axis=1, inplace=True)
flights_airports.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,IATA_CODE_x,ORIGIN_AIRPORT_NAME,ORIGIN_CITY,ORIGIN_STATE,ORIGIN_COUNTRY,ORIGIN_LATITUDE,ORIGIN_LONGITUDE,IATA_CODE_y,DESTINATION_AIRPORT_NAME,DESTINATION_CITY,DESTINATION_STATE,DESTINATION_COUNTRY,DESTINATION_LATITUDE,DESTINATION_LONGITUDE
0,2015,1,1,4,EV,4213,N17560,MHT,ORD,600,555.0,-5.0,16.0,611.0,173,174.0,153.0,843,744.0,5.0,753,749.0,-4.0,0,0,MHT,Manchester-Boston Regional Airport,Manchester,NH,USA,42.93452,-71.43706,ORD,Chicago O'Hare International Airport,Chicago,IL,USA,41.9796,-87.90446
1,2015,3,15,7,EV,3834,N12900,MHT,ORD,1615,1620.0,5.0,32.0,1652.0,175,176.0,135.0,843,1807.0,9.0,1810,1816.0,6.0,0,0,MHT,Manchester-Boston Regional Airport,Manchester,NH,USA,42.93452,-71.43706,ORD,Chicago O'Hare International Airport,Chicago,IL,USA,41.9796,-87.90446
2,2015,6,26,5,EV,6109,N13988,MHT,ORD,643,631.0,-12.0,10.0,641.0,162,161.0,139.0,843,800.0,12.0,825,812.0,-13.0,0,0,MHT,Manchester-Boston Regional Airport,Manchester,NH,USA,42.93452,-71.43706,ORD,Chicago O'Hare International Airport,Chicago,IL,USA,41.9796,-87.90446
3,2015,8,2,7,EV,3852,N14542,MHT,ORD,1638,1637.0,-1.0,15.0,1652.0,164,182.0,126.0,843,1758.0,41.0,1822,1839.0,17.0,0,0,MHT,Manchester-Boston Regional Airport,Manchester,NH,USA,42.93452,-71.43706,ORD,Chicago O'Hare International Airport,Chicago,IL,USA,41.9796,-87.90446
4,2015,2,20,5,AA,1067,N3LKAA,LAX,ORD,715,708.0,-7.0,16.0,724.0,243,225.0,196.0,1744,1240.0,13.0,1318,1253.0,-25.0,0,0,LAX,Los Angeles International Airport,Los Angeles,CA,USA,33.94254,-118.40807,ORD,Chicago O'Hare International Airport,Chicago,IL,USA,41.9796,-87.90446

In [10]:
flights_airports.drop(['IATA_CODE_x', 'IATA_CODE_y'], axis=1, inplace=True)

In [11]:
flights_airlines = flights_airports.merge(airlines, how='inner', left_on='AIRLINE', right_on='IATA_CODE', suffixes = ('_CODE', '_NAME'))
flights_airlines.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE_CODE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,ORIGIN_AIRPORT_NAME,ORIGIN_CITY,ORIGIN_STATE,ORIGIN_COUNTRY,ORIGIN_LATITUDE,ORIGIN_LONGITUDE,DESTINATION_AIRPORT_NAME,DESTINATION_CITY,DESTINATION_STATE,DESTINATION_COUNTRY,DESTINATION_LATITUDE,DESTINATION_LONGITUDE,IATA_CODE,AIRLINE_NAME
0,2015,1,1,4,EV,4213,N17560,MHT,ORD,600,555.0,-5.0,16.0,611.0,173,174.0,153.0,843,744.0,5.0,753,749.0,-4.0,0,0,Manchester-Boston Regional Airport,Manchester,NH,USA,42.93452,-71.43706,Chicago O'Hare International Airport,Chicago,IL,USA,41.9796,-87.90446,EV,Atlantic Southeast Airlines
1,2015,3,15,7,EV,3834,N12900,MHT,ORD,1615,1620.0,5.0,32.0,1652.0,175,176.0,135.0,843,1807.0,9.0,1810,1816.0,6.0,0,0,Manchester-Boston Regional Airport,Manchester,NH,USA,42.93452,-71.43706,Chicago O'Hare International Airport,Chicago,IL,USA,41.9796,-87.90446,EV,Atlantic Southeast Airlines
2,2015,6,26,5,EV,6109,N13988,MHT,ORD,643,631.0,-12.0,10.0,641.0,162,161.0,139.0,843,800.0,12.0,825,812.0,-13.0,0,0,Manchester-Boston Regional Airport,Manchester,NH,USA,42.93452,-71.43706,Chicago O'Hare International Airport,Chicago,IL,USA,41.9796,-87.90446,EV,Atlantic Southeast Airlines
3,2015,8,2,7,EV,3852,N14542,MHT,ORD,1638,1637.0,-1.0,15.0,1652.0,164,182.0,126.0,843,1758.0,41.0,1822,1839.0,17.0,0,0,Manchester-Boston Regional Airport,Manchester,NH,USA,42.93452,-71.43706,Chicago O'Hare International Airport,Chicago,IL,USA,41.9796,-87.90446,EV,Atlantic Southeast Airlines
4,2015,1,1,4,EV,5957,N15986,SDF,ORD,1709,1659.0,-10.0,9.0,1708.0,87,73.0,57.0,287,1705.0,7.0,1736,1712.0,-24.0,0,0,Louisville International Airport(Standiford F...,Louisville,KY,USA,38.17439,-85.73600,Chicago O'Hare International Airport,Chicago,IL,USA,41.9796,-87.90446,EV,Atlantic Southeast Airlines

In [12]:
flights_airlines.dropna(inplace=True)

In [13]:
flights_airlines.to_csv('../data/flight/vuelos.csv')

In [14]:
flights_airlines.AIRLINE_CODE.value_counts()

WN    1958
DL    1368
AA    1117
OO     893
EV     881
UA     770
MQ     448
B6     428
US     314
AS     258
NK     184
F9     139
HA     105
VX     101
Name: AIRLINE_CODE, dtype: int64